@font-face {
  font-family: "Alegreya Sans App";
  src: url("./alegreya-sans-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  size-adjust: 107%;
}

@font-face {
  font-family: "Alegreya Sans App";
  src: url("./alegreya-sans-medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  size-adjust: 107%;
}

@font-face {
  font-family: "Alegreya Sans App";
  src: url("./alegreya-sans-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  size-adjust: 107%;
}

@font-face {
  font-family: "Alegreya Sans App";
  src: url("./alegreya-sans-extrabold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  size-adjust: 107%;
}

@font-face {
  font-family: "Alegreya Sans App";
  src: url("./alegreya-sans-black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  size-adjust: 107%;
}

@font-face {
  font-family: "Literata App";
  src: url("./literata-ui-variable.ttf") format("truetype");
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  size-adjust: 97%;
}

@font-face {
  font-family: "Noto Serif Tibetan App";
  src: url("./noto-serif-tibetan-ui-variable.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  size-adjust: 95%;
  unicode-range: U+0F00-0FFF;
}

@font-face {
  font-family: "Noto Sans Symbols 2 App";
  src: url("./noto-sans-symbols-2-ui.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  size-adjust: 72%;
  unicode-range: U+26A0, U+2713-2714;
}
